@import url('../../Helper/Reset.css');
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);


.otrosLista__item{
    border: 1px solid green;
    color: #fff;
}
p{
    color: white;
    font-size: 20px;
    font-family: 'Montserrat';
}

.otrosContainer__descripcion__item{
    line-height: 25px;
    list-style: decimal;
    font-weight: 500;
    font-size: 20px;
    font-family: 'Montserrat';
}
