@import url('../../Helper/Reset.css');
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

h3,
p {
    font-family: 'Montserrat';
}

@media (max-width: 767px) {


    .mainContainer {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        height: 100%;
        background-position: top;
        background-size: cover;

    }

    .mainContainer::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("https://i.ibb.co/4jngJX5/Johan-mobile.jpg");
        background-position: top;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

    .mainContainer__title {
        color: white;
        opacity: 1;
        font-family: 'Montserrat';
        font-size: 16px;
        margin-bottom: 10px;
    }

    .mainContainer__text {
        font-size: 13px;
        font-weight: bolder;
        margin-bottom: 10px;
        color: #fff;
        font-family: 'Montserrat';
    }

    .mainContainer__button {
        font-family: 'Montserrat';
        font-size: 12px;
    }



}

@media (min-width: 768px) and (max-width: 1023px) {

    .mainContainer {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        height: 100%;
        background-position: top;
        background-size: cover;


    }

    .mainContainer::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("https://i.ibb.co/4jngJX5/Johan-mobile.jpg");
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .mainContainer__title {
        color: white;
        opacity: 1;
        font-family: 'Montserrat';
        font-size: 30px;
        margin-bottom: 20px;
    }

    .mainContainer__text {
        font-size: 20px;
        font-weight: bolder;
        margin-bottom: 10px;
        font-family: 'Montserrat';
        color: #fff;
    }

    .mainContainer__button {
        font-family: 'Montserrat';
        font-size: 20px;
    }


}

@media screen and (min-width: 1023px) {


    .mainContainer {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        height: 100%;
        background-position: top;
        background-size: cover;

    }

    .mainContainer::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("https://i.ibb.co/zR10MNS/portrait3-Image.jpg");
        background-position-y: -120px;
        background-size: cover;
        background-position: top;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

    .mainContainer__title {
        color: white;
        opacity: 1;
        font-family: 'Montserrat';
        font-size: 25px;
        margin-bottom: 20px;
    }

    .mainContainer__text {
        font-size: 20px;
        font-weight: bolder;
        margin-bottom: 10px;
        font-family: 'Montserrat';
        color: #fff
    }

    .mainContainer__button {
        font-family: 'Montserrat';
        font-size: 15px;
    }


}