@import url('../../Helper/Reset.css');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&display=swap');

:root {
    --h1: 48px;
    --h2: 32px;
    --h3: 20px;
    --body: 16px;
    --link: 16px;
    --primary: #A92935;
    --dark: #1E1E1E;
    --white: #FFFFFF;
}



@media (max-width: 767px) {

    .generalContainer {
        display: flex;
        flex-direction: column;
        background-color: var(--dark);
    }

    .generalContainer__titulo {
        margin-top: 20px;
        font-family: Poppins;
        font-size: var(--h1);
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -0.02em;
        text-align: center;
        color: #FFFFFF;
        font-style: normal;


    }

    .aboutContainer {
        margin-top: 20px;
        font-size: 30px;
        display: flex;
        font-family: 'Montserrat';
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        color: #fff;
    }


    .aboutSection2 {
        margin-top: 90px;
    }

    .expodrummer {
        margin-bottom: 100px;
    }

    .aboutContainer__imagenContenedor {
        position: relative;
        left: -100px;
        transition: all 3s ease;
        opacity: 0.1;
        overflow: hidden;
        margin-bottom: 30px;
        width: 90%;
        height: 200px;
        text-align: center;
    }

    .aboutContainer__imagenContenedor>img {
        height: 100%;
    }


    .container2 {
        order: 1;
        margin-top: 30px;
    }

    .container3 {
        order: 1;
        margin-top: 30px;
    }

    .aboutContainer__textoContenedor {
        margin-top: 10px;
        position: relative;
        left: -100px;
        opacity: 0.1;
        width: 90%;
    }

    .aboutContainer__textoContenedor__titulo {
        text-align: center;
        font-family: 'Montserrat';
        font-weight: 500;
        text-transform: capitalize;
    }

    .aboutContainer__textoContenedor__parrafo {
        font-family: Poppins;
        font-size: var(--body);
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.02em;
        text-align: center;

    }

    .aboutMeEffect {
        left: 0px;
        opacity: 1;
        transition: 1s linear;

    }

    .aboutContainerEffect {
        left: 0px;
        opacity: 1;
        transition: 1s linear;
    }

}

@media (min-width: 768px) and (max-width: 1023px) {
    .generalContainer {
        display: flex;
        flex-direction: column;
        background-color: var(--dark);

    }

    .generalContainer__titulo {
        margin-top: 20px;
        font-family: Poppins;
        font-size: var(--h1);
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -0.02em;
        text-align: center;
        color: #FFFFFF;
        font-style: normal;


    }

    .aboutContainer {
        margin-top: 20px;
        font-size: 30px;
        display: flex;
        font-family: 'Montserrat';
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        color: #fff;
    }

    .aboutSection2 {
        margin-top: 90px;
    }

    .expodrummer {
        margin-bottom: 100px;
    }

    .aboutContainer__imagenContenedor {
        position: relative;
        left: -100px;
        transition: all 3s ease;
        opacity: 0.1;
        overflow: hidden;
        margin-bottom: 30px;
        width: 80%;
        text-align: center;
    }

    .aboutContainer__imagenContenedor>img {
        height: 100%;
    }

    .container2 {
        order: 1;
        margin-top: 30px;

    }

    .container3 {
        order: 1;
        margin-top: 30px;
    }

    .aboutContainer__textoContenedor {
        margin-top: 10px;
        position: relative;
        left: -100px;
        opacity: 0.1;
        width: 90%;
    }

    .aboutContainer__textoContenedor__titulo {
        text-align: center;
        font-family: 'Montserrat';
        font-weight: 500;
        text-transform: capitalize;
    }

    .aboutContainer__textoContenedor__parrafo {
        font-family: Poppins;
        font-size: var(--body);
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.02em;
        text-align: center;

    }


    .aboutMeEffect {
        left: 0px;
        opacity: 1;
        transition: 1s linear;

    }

    .aboutContainerEffect {
        left: 0px;
        opacity: 1;
        transition: 1s linear;
    }

}

@media screen and (min-width: 1023px) {
    .generalContainer {
        display: flex;
        flex-direction: column;
        background-color: var(--dark);
    }

    .generalContainer__titulo {
        margin-top: 20px;
        font-family: Poppins;
        font-size: var(--h1);
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -0.02em;
        text-align: center;
        color: #FFFFFF;
        font-style: normal;

    }

    .aboutContainer {
        margin-top: 50px;
        font-size: 30px;
        display: flex;
        font-family: 'Montserrat';
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        color: #fff;
    }

    .aboutSection2 {
        margin-top: 90px;
    }

    .expodrummer {
        margin-bottom: 100px;
    }

    .aboutContainer__imagenContenedor {
        position: relative;
        left: -100px;
        transition: all 3s ease;
        opacity: 0.1;
        overflow: hidden;
        margin-bottom: 30px;
    }

    .container2 {
        order: 1;
    }

    .aboutContainer__textoContenedor {
        margin-top: 10px;
        position: relative;
        left: -100px;
        opacity: 0.1;
        width: 50%;
    }

    .aboutContainer__textoContenedor__titulo {
        font-family: Poppins;
        font-size: var(--h2);
        font-weight: 700;
        line-height: 36px;
        letter-spacing: -0.02em;
        text-align: right;

    }

    .aboutContainer__textoContenedor__parrafo {
        font-family: Poppins;
        font-size: var(--body);
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.02em;
        text-align: right;

    }

    .left {
        text-align: left;
    }


    .aboutMeEffect {
        left: 0px;
        opacity: 1;
        transition: 1s linear;

    }

    .aboutContainerEffect {
        left: 0px;
        opacity: 1;
        transition: 1s linear;
    }

}