@import url('../../Helper/Reset.css');
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);


@media (max-width: 767px){
.aboutContainer{
    margin-top: 20px;
    height: 70vh;
    font-size: 30px;
    display: flex;
    font-family: 'Montserrat';
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    color: #fff;
}

}

@media (min-width: 768px) and (max-width: 1023px) {
    .aboutContainer{
        margin-top: 20px;
        height: 70vh;
        font-size: 30px;
        display: flex;
        font-family: 'Montserrat';
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        color: #fff;
    }
    
   
}

@media screen and (min-width: 1023px) {
    .aboutContainer{
        margin-top: 20px;
        height: 70vh;
        font-size: 30px;
        display: flex;
        font-family: 'Montserrat';
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        color: #fff;
    }
}