@import url('https://fonts.googleapis.com/css2?family=Inria+Sans&display=swap');


footer {
  padding: 40px;
  height: 30vh;
  border: 1px solid green;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
}

footer li {
  float: left;
  padding: 0 10px;
  list-style: none;
}

footer a {
  color: white;
}

footer p {
  float: right;
  font-family: 'Inria Sans', sans-serif;
}

ul {
  display: flex;
  align-items: baseline;
}

.container {
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.row {
  width: 100%;
  padding: 20px;
}

.row-1 {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

i {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

i:hover {
  transform: scale(1.1);
}

i:active {
  transform: translateY(2px);
}

.footerinfo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 50%;
}

@media (max-width: 767px) {
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .row-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .madeby {
    text-align: center;
    padding: 10px;
  }

  .footerinfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}