@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);


@media (max-width: 767px) {
    .otrosContainer {
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        min-height: 50vh;
    }

    .otrosContainer__titulo {
        margin-bottom: 30px;
    }

    .otrosContainer__titulo h1 {
        font-size: 30px;
        color: #fff;
        font-style: normal;
        margin-top: 20px;
        font-family: 'Montserrat';
    }

    .otrosContainer__descripcion {
        display: flex;
        flex-wrap: wrap;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .buttonOtros {
        width: 50%;
        align-self: center;
    }
}

@media (min-width: 768px) {

    .otrosContainer {
        display: flex;
        align-items: center;
        align-content: center;
        flex-flow: column wrap;
        justify-content: center;
        width: 100%;
        padding: 20px;
        margin-top: 80px;
    }

    .otrosContainer__titulo {
        margin-bottom: 30px;
    }

    .otrosTitulo {
        font-size: 30px;
        font-weight: bolder;
        text-transform: uppercase;
        font-style: normal;
        color: rgb(255, 255, 255);
        text-align: center;
        font-family: 'Montserrat';
    }

    .otrosContainer__descripcion {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        align-content: center;
        justify-content: center;
        gap: 20px;
    }

    .otrosContainer__descripcion__img {
        width: 200px;
        align-self: center;
        border: 1px solid black;
    }


    .buttonOtros {
        width: 20%;
        align-self: center;
    }
}