@import url('../../Helper/Reset.css');
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@media (max-width: 767px){

.logo{
    width: 20px;
    margin-right: 2px;
}

.titulo{
    font-family:'Montserrat' ;
    font-weight: bolder;
}
.parrafo{
    font-family:'Montserrat' ;
    color: #000000;
    font-weight: bold;
    margin: 10px;
}
}
@media (min-width: 768px) and (max-width: 1023px){

    .logo{
        width: 20px;
        margin-right: 10px;
    }
    
    .titulo{
        font-family:'Montserrat' ;
        font-weight: bolder;
        font-size: 20px;
    }
 
    .parrafo{
        font-family:'Montserrat' ;
        font-size: 18px;
        color: #000000;
        font-weight: bold;
        margin: 10px;
    }
}

@media screen and (min-width: 1023px){

    .logo{
        width: 20px;
        margin-right: 10px;
    }
    
    .titulo{
        font-family:'Montserrat' ;
        font-weight: bolder;
        font-size: 20px;
    }
 
    .parrafo{
        font-family:'Montserrat' ;
        font-size: 18px;
        color: #000000;
        font-weight: bold;
        margin: 10px;
    }
}