@import url('../../Helper/Reset.css');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&display=swap');

:root {
  --h1: 48px;
  --h2: 32px;
  --h3: 20px;
  --body: 16px;
  --link: 16px;
  --primary: #A92935;
  --dark: #1E1E1E;
  --white: #FFFFFF;
}

.modal-content {
  background-color: transparent;
  border: none;
}

.modal-header {
  display: none;
}

.modal-body {
  display: flex;
  justify-content: center;
}

h1 {
  color: rgb(0, 0, 0);
  margin-bottom: 50px;
  width: 100%;
  text-align: center;
  font-weight: bolder;
  text-transform: uppercase;
  font-style: italic;
  font-family: 'Montserrat';
  font-size: 19px;
  text-align: center;
  margin-bottom: 30px;

}

.errorAlert {
  font-family: 'Montserrat';
  color: red;
  font-size: 12px;
  margin: 5px;
}

.titleLabel {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 15px;
  text-transform: capitalize;
  line-height: 22px;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--white);
}

input[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  width: 50%;
  font-family: 'Montserrat';
  text-align: center;
  text-decoration: none;
  align-self: center;
  cursor: pointer;
  border: 1px solid #999999;
  border-radius: 4px;
  background-color: #65d490;
  color: #333333;
  margin-top: 15px;
}

.container__form__form {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  padding: 20px;
  background-color: #1E1E1E;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.container__form__title {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--white);
  font-style: normal;

}

label {
  margin: 5px;
}

input[type="text"],
input[type="email"],
input[type="number"] {
  height: 48px;
  padding: 13px, 12px, 13px, 12px;
  border-radius: 6px;
  border: 1px;
  gap: 10px;
  background-color: var(--white);
  box-sizing: border-box;
  /* Esto hace que el padding no afecte el ancho total */
  font-size: 16px;
}

input[type="radio"] {
  font-family: Poppins;

}

/* Estilo para anular el borde de enfoque */
input:focus {
  outline: none;
}

.radioLabel {
  font-family: 'Montserrat';
  font-size: 12px;
  margin: 0px !important;
}

::placeholder {
  font-family: Poppins;
  color: var(--dark);
  font-size: 12px;
  margin-top: 20px;
}

/* Estilos para textarea */
textarea {
  padding: 13px, 12px, 47px, 12px;
  border-radius: 6px;
  border: 1px;
  gap: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  font-size: 16px;
  resize: vertical;
  /* Permite cambiar solo la altura vertical */
  font-family: inherit;
  resize: none;
  margin-top: 10px;
}

/* Estilo para anular el borde de enfoque */
textarea:focus {
  outline: none;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root {
  display: flex;
  align-self: center;
}

.submitButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  padding: 12px, 16px, 12px, 24px;
  border-radius: 6px;
  gap: 10px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--white);
  height: 48px;

}