@import url('../../Helper/Reset.css');



.contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        'header header'
        'body   body'
        'footer  footer'
    ;
    gap: 0;

}

.contenedor__header {
    grid-area: header;
    height: 15vh;
    z-index: 2;
    background: transparent;
}

.contenedor__body {
    min-height: calc(100vh - 15vh);
    flex-grow: 1;
    grid-area: body;
}
