@import url('../../Helper/Reset.css');


.contenedor{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
    'header header'
    'body   body'
    'footer  footer' 
    ;

}
.contenedor__header{
    grid-area: header;
}
.contenedor__body{
    min-height: 90vh;
    background-color: #000 ;
    grid-area: body;
}
.contenedor__footer{
    background-color: #000;
    grid-area: footer;
}