@import url('../../Helper/Reset.css');


.contenedor{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
    'header header'
    'body   body'
    'footer  footer' 
    ;

}
.contenedor__header{
    grid-area: header;
    height: 15vh;
}
.contenedor__body{
    height: calc(100vh - 20vh);
    flex-grow: 1;
    background-color: #000 ;
    grid-area: body;
}
.contenedor__footer{
    min-height: 5vh;
    grid-area: footer;
    background-color: #000 ;
    width: 100%;
}